body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-image: linear-gradient(to top, red, orange);
}

.container h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: 800;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  margin: 0px;
  margin-bottom: 20px;
}

.input-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-text input {
  width: 400px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-left: 15px;
  background-color: rgb(255, 255, 255, 0.5);
}

.send {
  width: 42px;
  height: 42px;
  opacity: 0.5;
  border: none;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-text div:hover {
  opacity: 0.8;
}

.send-img {
  width: 30px;
  height: 30px;
  margin-left: 2px;
}

.delete-all {
  width: 42px;
  height: 42px;
  opacity: 0.5;
  border: none;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 5px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-all-img {
  width: 30px;
  height: 30px;
}

.to-go-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 560px;
  height: 575px;
  margin-top: 40px;
  overflow: scroll;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
}

.to-go-list::-webkit-scrollbar {
  width: 0;
}

.task {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  text-align: left;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.p-normal {
  text-align: left;
  width: 75%;
  word-wrap: break-word;
}

.p-done {
  opacity: 0.7;
  text-decoration: line-through;
}

.checkBox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.div-for-img {
  width: 40px;
  height: 40px;
  opacity: 0.7;
  border: none;
  object-fit: cover;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.div-for-img:hover {
  opacity: 1;
}

.div-for-img img {
  width: 20px;
  height: 20px;
}

.edit-input {
  width: 75%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-left: 15px;
  margin: 5px 0px;
}

@media screen and (max-width: 635px) {
  .input-text input {
    width: 160px;
  }

  .to-go-list {
    width: 230px;
    margin-bottom: 20px;
  }

  .p-normal {
    width: 50%;
  }

  .div-for-img {
    width: 30px;
    height: 30px;
  }

  .div-for-img img {
    width: 15px;
    height: 15px;
  }

  .checkBox {
    width: 15px;
    height: 15px;
  }

  .edit-input {
    width: 56.5%;
  }

  .container h1 {
    margin-top: 20px;
  }
}